#hide the system stuff
__pycache__/
.vscode/
wandb/

#hide irrelevant files
abandoned
split_out.txt
split_out1.txt
split_out2.txt
split_out3.txt
strat_min5_split0.txt
strat_min6_split1.txt
strat_min7_split2.txt
strat_min9_split3.txt
strat_min10_split4.txt
text.txt
TODO
Trainer_DDQN_min_old.py
*.zip
misc
info.txt
fonts/casino_2/Casino-Italic.ttf
fonts/casino_2/Casino.ttf
fonts/casino_2/Casino3D-Italic.ttf
fonts/casino_2/Casino3D.ttf
fonts/casino_2/Casino3DFilled-Italic.ttf
fonts/casino_2/Casino3DFilled.ttf
fonts/casino_2/Casino3DFilledMarquee-Italic.ttf
fonts/casino_2/Casino3DFilledMarquee.ttf
fonts/casino_2/Casino3DLines-Italic.ttf
fonts/casino_2/Casino3DLines.ttf
fonts/casino_2/Casino3DLinesMarquee-Italic.ttf
fonts/casino_2/Casino3DLinesMarquee.ttf
fonts/casino_2/Casino3DMarquee-Italic.ttf
fonts/casino_2/Casino3DMarquee.ttf
fonts/casino_2/CasinoFlat-Italic.ttf
fonts/casino_2/CasinoFlatShadow-Italic.ttf
fonts/casino_2/CasinoFlatShadow.ttf
fonts/casino_2/CasinoShadow-Italic.ttf